* {
	box-sizing: border-box;
	font-family: $f-primary;
}

body {
	margin: 0;
	padding: 0;
}

p {
	font: 400 16px/24px $f-primary;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.small {
	font: 400 10px/1 $f-primary;

	&--faded {
		color: #888;
	}
}